body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0 20px;
  padding-top: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  width: calc(100% - 100px);
  height: 80px;
  background-color: white;
  box-shadow: 0 3px 15px rgba(0 0 0 / 15%);
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  z-index: 100;
}

header .brand {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  color: rgb(60, 60, 60);
}

.button-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.request-button {
  background-color: #FFA500; /* Soft orange */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.request-button:hover {
  background-color: #e59400; /* Slightly darker on hover */
}

.login-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.login-button.danger {
  background-color: #ff4444;
}

.login-button:hover {
  background-color: #45a049;
}

.login-button.danger:hover {
  background-color: #c63434;
}

.form-container, .table-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1600px;
  margin-bottom: 40px;
  text-align: center;
  margin-top: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.table-container h2 {
  margin-bottom: 40px;
}

.form-container {
  cursor: pointer;
}

.content {
  width: 100%;
  margin: 0 auto;
  transition: max-height 0.3s ease-out;
  max-height: 1000px;
  opacity: 1;
  transition: max-height .25s ease-in-out, opacity .2s ease-in-out;
  cursor: default;
  display: flex;
  justify-content: center;
}

.content #dataForm {
  width: 100%;
  max-width: 800px;
}

.content.closed {
  max-height: 0px;
  opacity: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: auto;
  margin-top: 200px;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#loginForm button[type=submit] {
  margin-top: 30px;
}

h1, h2 {
  color: #185b1a;
  margin-bottom: 20px;
}

.modal-content h2 {
  padding: 0 10px;
}

form {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input:not([type=checkbox]), textarea {
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

textarea {
  resize: vertical;
  height: 100px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.table-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 20px;
  margin-bottom: 10px;
}

.table-container {
  width: 100%;
}

table {
  width: 100%;
  max-width: 1400px;
  border-collapse: collapse;
  margin: 20px auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  word-wrap: break-word;
  width: calc(100% / 6);
}

th {
  background-color: #eaf5ea;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  padding-right: 25px;
}

th::after {
  content: '\25B2';
  position: absolute;
  right: 10px;
  font-size: 12px;
  color: #888;
  transition: transform 0.3s ease;
}

th.sort-desc::after {
  transform: rotate(180deg);
}

td {
  background-color: #fff;
}

tr:nth-child(even) td {
  background-color: #f9f9f9;
}

.delete-button {
  background: none;
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.delete-button:hover {
  color: darkred;
}

#searchBox {
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: auto;
}

#clearButton {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#clearButton:hover {
  background-color: #45a049;
}

.footer {
  background-color: #f4f4f4;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
  color: #777; /* Subtle grey color for the footer text */
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-logo {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
}

/* Feedback Modal Styles */
#feedbackModal .modal-content {
  width: 550px;
  padding: 20px;
}

#feedbackModal textarea#description {
  min-height: 280px;
  resize: vertical;
}

#feedbackForm fieldset {
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

#feedbackForm legend {
  font-weight: bold;
  margin-bottom: 10px;
}

#feedbackForm .form-field {
  display: flex;
  align-items: center;
  gap: 10px;
}

#feedbackForm .form-field label {
  width: 100%;
}

/* Responsive Design */
@media (max-width: 600px) {
  .form-container, .table-container {
    padding: 15px;
  }
  input, button, textarea, th, td {
    font-size: 14px;
  }
  h1, h2 {
    font-size: 24px;
  }
}